<mat-nav-list>
    <div class="profile-card">
        <div class="header"></div>
        <h2><a href="https://www.linkedin.com/in/janis-karimovs-82a085142/">Janis Karimovs</a></h2>
        <h4>janiskarimovs@gmail.com</h4>
        <a href="https://www.linkedin.com/in/janis-karimovs-82a085142/">
            <img src="https://media-exp1.licdn.com/dms/image/C5603AQFfY1BKFIGEpg/profile-displayphoto-shrink_200_200/0?e=1605744000&v=beta&t=TJ6ueNa02svuFrBYauVcLe_PLwivEPvwf-CyFjS5TSA" alt="Janis Karimovs profile picture">
        </a>
        </div>

    <mat-divider></mat-divider>
    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">About Application</a>

    <mat-divider></mat-divider>
</mat-nav-list>