<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSidebar()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Realtime Data Dashboard</span>

        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
        </div>
    </mat-toolbar-row>
</mat-toolbar>